@page "/"
@inherits IndexBase

<h2>Welcome to Vagbhat Ayurveda Clinic Application</h2>

<p style="text-decoration:underline">Please select your Task</p>

<ul>
    <li><a href="#" @onclick="NewPatient">New Patient</a></li>
    <li><a href="/patients">Search</a></li>
</ul>

<button @onclick="ToggleVisibility">@VisibilityText</button>
<Visitor Visible="@VisibilityText"></Visitor>