@page "/"
@inherits IndexBase

<h1>Vagbhat Ayurveda Clinic</h1>

Welcome! @DateTime.Now.ToString("dd MMM yyyy hh:mm")

<ul>
    <li><a href="#" @onclick="NewPatient">New Patient</a></li>
</ul>

<button @onclick="ToggleVisibility">@VisibilityText</button>
<Visitor Visible="@VisibilityText"></Visitor>