@page "/patients"
@inherits PatientsBase

    <div class="row">
        <div class="col-sm-1 float-sm-left">
            <a href="/">Back</a>
        </div>
        <div class="col-sm-11">
            <h3></h3>
        </div>

    </div>

@if (Patients == null)
{
    <p><em>Loading...</em></p>
}
else
{
<center>
    <table class="table col-sm-6">
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Age</th>
                <th>Mobile Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Patients)
            {
                <tr>
                    <td><a href="/editpatient/@patient.PatientId">@patient.PatientName</a></td>
                    <td>@patient.Age</td>
                    <td>@patient.MobileNumber</td>
                </tr>
            }
        </tbody>
    </table>
</center>
}